<% content_for :hero_unit do %>
  <h1>Movie Terminals</h1>
  <h2>&gt; Play with recreations of famous movie terminals.</h2>
<% end %>

<!-- <div class="row message">
  <div class="span16">
    <div class="prettyprint">
      <h2>11/12/2011</h2>
      <h3>Whoa</h3>
      <p>A lot of you guys have found this site. Sorry that there's very little to play with at the moment.</p>
      <p>My plan is to really build out fun things to do in the Tron terminal. I
      have to work through this weekend so I don't have as much time to play
      here as I'd like; but I should have some more things to do by the end of
      Sunday. I'll tweet on <%= link_to '@movieterminals', 'https://twitter.com/#!/movieterminals' %> when there's an update.</p>
      <p>Thanks for visiting!</p>
    </div>
  </div>
</div> -->

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>Alien (1979)</h2>
    <p>One of the first examples of a terminal text interface relaying key
    plot points.</p>
    <p>Its "Interface 2037" seems to be something of a natural English parser
    or its commands are unusually verbose. Unless you are an extreme
    <em>Alien</em> fan or have watched it very recently, you'll want to take a
    look at the command reference.</p>
    <p><%= link_to 'Command Reference', alien_reference_path %></p>
    <p><%= link_to 'Launch Terminal', alien_path, :class => 'btn' %></p>
  </div>
  <div class="span5">
    <h2>Tron (1982)</h2>
    <h3>Alan's Terminal</h3>
    <p>At the start of the movie <em>Tron</em>, Alan is attempting to work on his "Tron"
    program. Tron is a security program that monitors all contact between
    internal and external systems on the Encom network. Unfortunately for him,
    the MCP doesn't want any oversight and his access is suspended.</p>
    <p>The actual movie screen time of this terminal is very sparse, so I'm
    going to be padding this quite a bit with fun things to do. For that I made
    the assumption that the Encom developer terminals were using a variant of
    Unix. Even more, a variant of Unix with some system tools of the "future"
    (e.g. service).</p>
    <p><%= link_to 'Command Reference', tron_alan_reference_path %></p>
    <p><%= link_to 'Launch Terminal', tron_alan_path, :class => 'btn' %></p>
  </div>
</div>
