<!DOCTYPE html>
<html>
<head>
  <title><%= @head_title || 'Home' %> | Movie Terminals</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if "production" == Rails.env %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26373242-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  <% end %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <%= link_to 'Movie Terminals', root_url, :class => 'brand' %>
        <ul class="nav">
          <li class="active">
            <%= link_to 'Home', root_url %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">

      <div class="hero-unit" id="site_title">
        <%= yield :hero_unit %>
      </div>
      <%= yield %>
    </div> <!-- .content -->
  </div> <!-- .container -->
</body>
</html>
