<!DOCTYPE html>
<html>
<head>
  <title>Movie Terminals - <%= @movie_title || 'Home' %></title>
  <%= stylesheet_link_tag @movie_style || 'application' %>
  <%= javascript_include_tag @movie_script || 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
