<!DOCTYPE html>
<html>
<head>
  <title>Movie Terminals - <%= @movie_title || 'Home' %></title>
  <%= stylesheet_link_tag @movie_style || 'application' %>
  <%= javascript_include_tag @movie_script || 'application' %>
  <%= csrf_meta_tags %>
  <% if "production" == Rails.env %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26373242-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  <% end %>
</head>
<body>
  <% if content_for? :menu %>
    <%= yield(:menu) %>
  <% end %>
  <%= yield %>
</body>
</html>
