<!DOCTYPE html>
<html>
<head>
  <title><%= @head_title || 'Home' %> | Movie Terminals</title>
  <%= stylesheet_link_tag @movie_style || 'application' %>
  <%= javascript_include_tag @movie_script || 'application' %>
  <%= csrf_meta_tags %>
  <% if "production" == Rails.env %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26373242-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  <% end %>
</head>
<body>
<%= yield %>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66512945); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66512945ns.gif" /></p></noscript>
</body>
</html>
